body {
    background: linear-gradient(to bottom, #FFF5DC, #FFF1D8); 
    font-family: 'Poppins', sans-serif;
    color: #5b2454; 
    margin: 0;
    padding: 0;
}

h1 {
    margin: 1;
    padding: 0;
}
h2 ,p{
    margin:0;
    padding: 0;
}

h1 {
    font-size: 2.5em;
    color: #541b52; 
    margin-left: 60px;
}

h2 {
    font-size: 1.2em;
    color: #532255; 
    margin-left: 60px;
}

p {
    font-size: 1.2em;
    color: #541b52; 
    margin-left: 60px;
}

.sub-title{
    font-family: Arial, sans-serif;
    font-weight: 300;
    color: #541b52;
    
}

.ss{
    color:#541b52;
    margin-top: 50px;
    font-weight: 350;
    margin-left:60px;
    position: absolute;
    bottom:95px;
    left: 170px;
    font-size: 18px;
    background-color: rgba(251, 211, 211, 0.5);
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 80%;
    line-height: 1.6;
    text-align: justify;
}

.container {
    position: relative;
    width: 40%;
    margin: auto;
    text-align: center;
}
.container img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 5px solid rgba(251, 211, 211, 0.5);;
    margin-top: 30px;
    border-radius: 140px;
}


.row {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about-col-1 {
    flex: 1;
    padding: 10px;
}
.about-col-2 {
    flex: 1;
    padding: 10px;
}

.about-col-1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.profile-photo {
    width: 50%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 30px;
    margin-right: 210px;
}

.about-col-2 {
    flex: 1;
    padding-left: 50px;
    text-align: left; 
    margin-top: 60px;
    margin-left: -60px;
    
}

/*----------statement-----------*/

.col-1{
    flex: 1;
    padding: 10px;
}

.photo{
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    margin-left: 400px;
    max-width: 80%;
}

.col-2{
    flex: 1;
    padding: 10px;
}

.s{
    color:#541b52;
    margin-top: 50px;
    font-weight: 350;
    margin-right:10px;
    position: absolute;
    bottom:-30px;
    left: -220px;
    font-size: 18px;
    background-color: rgba(251, 211, 211, 0.5);
    padding: 40px 15px;
    border-radius: 15px;
    max-width: 100%;
    line-height: 1.6;
    text-align: justify;
}

/*----------statement-----------*/

.about-col-1 {
    flex: 1;
    padding: 10px;
    margin-top: 50px;
}
.about-col-2 {
    flex: 1;
    padding: 10px;
    
}
.shoon{
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 30px;
    margin-right: 350px;
    max-width: 80%;
    margin-top: 50px;
}
.bbb{
    color:#541b52;
    margin-top: 50px;
    font-weight: 350;
    margin-right:10px;
    position: absolute;
    bottom:-160px;
    right: -260px;
    font-size: 18px;
    background-color: rgba(251, 211, 211, 0.5);
    padding: 40px 15px;
    border-radius: 15px;
    max-width: 100%;
    line-height: 1.6;
    text-align: justify;
}

