*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgba(247, 220, 245, 0.984);
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items:center;
    justify-self: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #6c0c64bf;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header.text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}
.header-text p span{
    color: #eca3ec;
}

/*----------------about--------------*/

/* style.css */
.sub-title{
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: black;
}

.ss{
    color:black;
    margin-top: 30px;
    font-weight: 350;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about-col-1, .about-col-2 {
    flex: 1;
    padding: 10px;
}

.about-col-1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.profile-photo {
    width: 90%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 15px;
}

.about-col-2 {
    flex: 1;
    padding-left: 20px;
    text-align: left; 
    margin-top: 60px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
