*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: rgba(247, 220, 245, 0.984);
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(image.jpeg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10px;
}

nav{
    display: flex;
    align-items:center;
    justify-self: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #6c0c64bf;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header.text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 30px;
    margin-top: 20px;
}
.header-text p span{
    color: #eca3ec;
}

/*----------------about--------------*/

/* style.css */
.sub-title{
    font-family: Arial, sans-serif;
    font-weight: 600;
    color: black;
}

.ss{
    color:black;
    margin-top: 30px;
    font-weight: 350;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.about-col-1, .about-col-2 {
    flex: 1;
    padding: 10px;
}

.about-col-1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.profile-photo {
    width: 60%; 
    height: auto; 
    object-fit: cover; 
    border-radius: 15px;
}

.about-col-2 {
    flex: 1;
    padding-left: 20px;
    text-align: left; 
    margin-top: 60px;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
    color:black;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight:500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #85248a;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 70%;
}
.tab-contents ul li{
    list-style: none;
    margin: 18px 0;
    color:#85248a;
}
.tab-contents ul li span{
    color:#0a0a0a;
    font-size: 18px;
}

.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*--------------services-------------*/

#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background:hsl(250, 88%, 78%);
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color:#85248a;
    font-size: 12px;
    box-sizing: border-box;
    display: inline-block;
}
.services-list div:hover{
    background:#8dc0ff;
    transform: translateY(-10px);
}

/*-------------portfolio------------*/

#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
    
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 30px;
    display:block;
}
.portfolio .work h3 {
    font-size: 1.5em;
    color: #333; 
    text-align: center; 
    margin: 10px 0;
    padding: 10px; 
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
.btn{
    font-size: 1.3em;
    display: block;
    margin: 20px 20px;
    width: fit-content;
    border: 2px solid #550d36;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #070101;
    transition: background 0.5s;
}
.ss{
    font-size: 1.3em;
    display: block;
    margin: 20px 20px;
    width: fit-content;
    border: 2px solid #550d36;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #070101;
    transition: background 0.5s;
}
.jj{
    font-size: 1.3em;
    display: block;
    margin: 20px 20px;
    width: fit-content;
    border: 2px solid #550d36;
    padding: 10px 40px;
    border-radius: 10px;
    text-decoration: none;
    color: #070101;
    transition: background 0.5s;
}
.btn:hover{
    background:hsl(250, 66%, 84%);
}
.ss:hover{
    background:hsl(250, 66%, 84%);
}
.jj:hover{
    background:hsl(250, 66%, 84%);
}
.bb{
    color:#070101;
}
.hh{
    color:#070101;
}
/*contact*/
.contact-left{
    flex-basis: 35%;
}
.contact-left{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 2%;
}
.social-icons{
    margin-top:15px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#85248a;
    display: inline-block;
    transform: 0.5;
}
.social-icons a:hover{
    color:#f27ff8;
    transform: translateY(-5px);
}             
.btn btn2{
    display:inline-block;
    background:#dc95ee;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:hsl(250, 66%, 84%);
    padding: 15px;
    margin: 15px 0;
    color:aliceblue;
    font-size: 18px;
    border-radius: 6px;
}
form btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
/*-----------css for small screens---------*/
@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone.jpeg);
    }
}